<div class="header-image d-flex align-items-center justify-content-center">
  <div class="text-center align-middle">
    <div style="margin-bottom: 150px;">
      <div class="header-title header-title__brand mb-4">
        <img src="/assets/images/{{ Logo }}" width="400">
      </div>
      <div class="header-title header-title__motto">
        <div class="container">
          {{ motto }}
        </div>
      </div>
    </div>
    <div class="px-5 mt-3">
      <i class="text-white bi bi-telephone" style="width: 35px; height: 35px;"></i> <span class="text-white px-2">{{ phone }}</span><br>
      <i class="text-white bi bi-envelope" style="width: 35px; height: 35px;"></i> <span class="text-white px-2">{{ infomail }}</span>

    </div>
  </div>
</div>

